<section class="container my-5 pt-3">
  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-center">
      <app-search-form
      class="col-8"
      (searchChange)="onSearch($event)"
      ></app-search-form>
    </div>
    <picture *ngIf="resource === ''" class="col-12 mt-5 d-flex">
      <img src="/assets/images/brand_02.png" alt="Rick and Morty" class="m-auto">
    </picture>
    </div>
    <article class="row" *ngIf="resource === 'character'">
      <app-character-card
        class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3"
        *ngFor="let character of characterList"
        [data]="character"
      ></app-character-card>
    </article>
    <article class="row" *ngIf="resource === 'episode'">
      <app-episode-list
      class="col-12"
      *ngIf="episodeList"
      [data]="episodeList"
    ></app-episode-list>
    </article>
    <article class="row" *ngIf="resource === 'location'">
      <app-location-list
      class="col-12"
      *ngIf="locationList"
      [data]="locationList"
    ></app-location-list>
    </article>
  </section>
