<section class="container mt-5">
    <div class="row mb-3">
      <div class="col-12 d-flex justify-content-center">
        <app-search-form
          class="col-8"
          (searchChange)="onSearch($event)"
        ></app-search-form>
      </div>
    </div>
    <article class="row" *ngIf="resource === 'character'">
      <app-character-card
        class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3"
        *ngFor="let character of characterList"
        [data]="character"
      ></app-character-card>
    </article>
    <article class="row" *ngIf="resource === 'episode'">
      <!-- <app-episode-card
      class="col-12 col-md-6 col-lg-4 mb-3"
      *ngFor="let episode of episodeList"
      [data]="episode"
    ></app-episode-card>
    </article>
    <article class="row" *ngIf="resource === 'location'">
      <app-location-card
      class="col-12 col-md-6 col-lg-4 mb-3"
      *ngFor="let location of locationList"
      [data]="location"
    ></app-location-card> -->
    </article>
  </section>
